* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #000;
}

.wrapper {
  margin-top: 20px;
  text-align: center;
  background-color: #000;
  height: 100vh;
}

#game-board {
  display: inline-block;
  background-color: #000;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  overflow: hidden;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cell {
  width: 10px;
  height: 10px;
  color: hsl(120, 70%, 47%);
  font-weight: bolder;
  font-size: 9px;
  background-color: #000;
  /* transition: opacity 490ms ease-in-out; */
  border-right: .1px solid #333;
  border-bottom: .1px solid #333;
  overflow: hidden;
}

.cell.highlight {
  border: .1px solid palegreen;
}
.cell.dead {
  /* opacity: 0; */
  /* background-color: #000; */
  /* background-color: white; */
}

.cell.alive {
  /* opacity: 1; */
  /* background-color: white; */
}

.game-button {
  width: 50px;
  font-size: 18px;
  color: hsl(120, 70%, 35%);
  background-color: #000;
  border: 1px solid hsl(120, 70%, 30%);
  cursor: pointer;
  margin: 0 3px;
}

.game-button:hover {
  color: hsl(120, 70%, 45%);
}

.game-button:focus {
  outline-color: hsl(120, 70%, 30%);
}

.range-label {
  display: flex;
  color: hsl(120, 70%, 35%);
  font-size: 15px;
  margin-left: 4px;
  width: 100px;
}

#range-value {
  margin-right: 4px;
}


