.constructor {
  color: rgb(197, 37, 197);
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#constructor__inputs {
  display: flex;
  flex-direction: column;
  width: 100px;
}

#constructor__inputs input {
  width: 50px;
}

#constructor__canvas {
  border: 1px solid rgb(197, 37, 197);
  min-width: 200px;
  height: 100%;
}

#constructor__json-text {
  border: 1px solid rgb(197, 37, 197);
  width: 60%;
}

#append {
  margin-top: 8px;
  text-transform: uppercase;
}