.game-button {
  width: 50px;
  font-size: 18px;
  color: hsl(120, 70%, 35%);
  background-color: #000;
  border: 1px solid hsl(120, 70%, 30%);
  cursor: pointer;
  margin: 0 3px;
}

.game-button:hover {
  color: hsl(120, 70%, 45%);
}

.game-button:focus {
  outline-color: hsl(120, 70%, 30%);
}

.range-label {
  display: flex;
  color: hsl(120, 70%, 35%);
  font-size: 15px;
  margin-left: 4px;
  width: 100px;
}

#range-value {
  margin-right: 4px;
}