.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cell {
  width: 12px;
  height: 12px;
  color: hsl(120, 70%, 47%);
  font-weight: bolder;
  font-size: 11px;
  background-color: #000;
  /* transition: opacity 490ms ease-in-out; */
  border-right: .1px solid #333;
  border-bottom: .1px solid #333;
  overflow: hidden;
}

.cell.highlight {
  border: .1px solid palegreen;
}
.cell.dead {
  /* opacity: 0; */
  /* background-color: #000; */
  /* background-color: white; */
}

.cell.alive {
  /* opacity: 1; */
  /* background-color: white; */
}



