* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #000;
}

.header {
  color: green;
  width: 500px;
  margin: 10px auto 0 auto;
  font-size: 40px;
}

.container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  margin-top: 8px;
  background-color: #000;
  position: relative;
}

.pattern-container {
  width: 20vw;
  min-width: 200px;
  border: 1px solid #333;;
  border-radius: 5px 0 0px 5px;
  margin-right: 5px;
  color: hsl(120, 70%, 35%);
}

#game-board {
  margin: 0 auto;
  background-color: #000;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  overflow: hidden;
}

.game-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}