* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body {
  background-color: #000;
  height: 100%;
  font-family: sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  max-height: 170px;
  min-height: 80px;
  color: #36ce69;
  font-size: 40px;
}

.header__text {
  font-family: serif;
  text-align: center;
  width: 600px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 20px;
  background-color: #000;
  position: relative;
}

.game-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
  height: 23px;
}

.constructor {
  color: #c525c5;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  display: none;
}

#constructor__canvas {
  border: 1px solid #c525c5;
  min-width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cell-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
}

.constructor__cell {
  width: 12px;
  height: 12px;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

.constructor__cell:hover {
  border: 1px solid palevioletred;
}

.constructor__cell--alive {
  background-color: #c525c5;
}

#constructor__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100px;
}

#constructor__inputs input {
  width: 50px;
}

#constructor__json-text {
  border: 1px solid #c525c5;
  padding: 10px;
  width: 60%;
}

#append {
  margin-top: 8px;
  text-transform: uppercase;
}

/* http://danielstern.ca/range.css/?ref=css-tricks#/ */
input[type=range] {
  -webkit-appearance: none;
  width: 70px;
  margin: 5.5px 0;
  background-color: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #36ce69;
  border-radius: 0px;
  border: 2px solid #004f00;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2px solid #266325;
  height: 21px;
  width: 10px;
  border-radius: 0px;
  background: #36ce69;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #36ce69;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #36ce69;
  border-radius: 0px;
  border: 2px solid #004f00;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2px solid #266325;
  height: 21px;
  width: 10px;
  border-radius: 0px;
  background: #36ce69;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #36ce69;
  border: 2px solid #004f00;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-fill-upper {
  background: #36ce69;
  border: 2px solid #004f00;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2px solid #266325;
  height: 21px;
  width: 10px;
  border-radius: 0px;
  background: #36ce69;
  cursor: pointer;
  height: 10px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #36ce69;
}

input[type=range]:focus::-ms-fill-upper {
  background: #36ce69;
}

.game-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game-button {
  width: 50px;
  font-size: 18px;
  color: #000;
  background-color: #29a853;
  border: 1px solid #29a853;
  cursor: pointer;
  margin: 0 3px;
}

.game-button:hover {
  color: #36ce69;
  background-color: #000;
}

.game-button:focus {
  outline-color: #249449;
}

.range-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #29a853;
  font-size: 15px;
  margin-left: 4px;
  width: 70px;
}

#range-value {
  margin-right: 4px;
}

#game-board {
  margin: 0 auto;
  background-color: #000;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  overflow: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.cell {
  width: 12px;
  height: 12px;
  color: #36ce69;
  font-weight: bolder;
  font-size: 11px;
  background-color: #000;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cell.highlight {
  border: 0.1px solid palegreen;
}

.cell.pattern-hover {
  opacity: 0.5;
}

.cell.pattern-hover-alive {
  opacity: 0.80;
}

.pattern-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20vw;
  min-width: 300px;
  margin-right: 5px;
  color: #29a853;
}

.pattern-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  border: 1.5px solid #1d9f49;
  height: 100%;
  padding-top: 20px;
}

.pattern-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 28px;
}

.pattern-nav__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  text-align: center;
  min-width: 93px;
  cursor: pointer;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.pattern-nav__button.active {
  background-color: #1d9f49;
  color: #000;
}

.pattern-nav__button:hover {
  background-color: #1d9f49;
  color: #000;
}

.pattern-nav__padding {
  width: 3px;
}

.game-patterns {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-cell {
  font-weight: bolder;
  font-size: 11px;
  background-color: inherit;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pattern-selector {
  color: #1d9f49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #1d9f49;
  margin: 10px;
  cursor: pointer;
}

.pattern-selector:active {
  background-color: #111010;
}

.pattern-selector.selected {
  border: 1.5px solid #02a102;
}

.pattern-selector.selected .button-cell {
  color: #36ce69;
}

.pattern-selector:hover .button-cell {
  color: #36ce69;
}

.dropdown {
  position: relative;
  color: #29a853;
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dropdown:hover .dropdown__list {
  display: block;
}

.dropdown__btn {
  color: #000;
  background-color: #29a853;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  padding-left: 10px;
  padding-top: 2px;
  cursor: pointer;
}

.dropdown__btn i {
  margin-right: 10px;
}

.dropdown__list {
  display: none;
  position: absolute;
  top: 100%;
  background: #000;
  width: 150px;
  border-top: none;
  border-bottom: none;
}

.dropdown__list.active {
  display: block;
}

.dropdown__preview {
  padding: 10px 20px;
  position: absolute;
  left: 105%;
  top: 0;
  min-height: 100%;
  background-color: #000;
  border: 1px solid #29a853;
  display: none;
}

.dropdown__item {
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dropdown__item:hover {
  background-color: #29a853;
  color: #000;
}

.dropdown__item i {
  opacity: 0;
  -webkit-transition: opacity .4s linear, -webkit-transform .4s linear;
  transition: opacity .4s linear, -webkit-transform .4s linear;
  transition: opacity .4s linear, transform .4s linear;
  transition: opacity .4s linear, transform .4s linear, -webkit-transform .4s linear;
}

.dropdown__item:hover i {
  opacity: 1;
  -webkit-transform: translate(5px, 0px);
          transform: translate(5px, 0px);
}

.dropdown__item:hover ~ .dropdown__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
/*# sourceMappingURL=main.css.map */