.pattern-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  border: 1.5px solid green;
  height: 100%;
  padding-top: 20px;
}

.pattern {
  margin: 20px;
}

.pattern-nav {
  display: flex;
  justify-content: space-around;
  height: 28px;
}

.pattern-nav__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  flex: 1 1 0;
  text-align: center;
  min-width: 93px;
  cursor: pointer;
  transition: all 0.15s linear;
}

.pattern-nav__button input {
  background-color: #000;
  border: none;
  color: green;
}

.pattern-nav__button:hover {
  background-color: green;
  color: #000;
}

.pattern-nav__button.active {
  background-color: green;
  color: #000;
}

.pattern-nav__padding {
  width: 3px;

}

.game-patterns {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}

.button-cell {
  color: hsl(120, 70%, 37%);
  font-weight: bolder;
  font-size: 11px;
  background-color: #000;
  overflow: hidden;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pattern-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  margin: 10px;
  cursor: pointer;
}

.pattern-selector:hover {
  border: 2px solid green;
}

.pattern-selector:hover .button-cell {
  color: hsl(120, 70%, 47%);

}

.pattern-selector.active {
  
}
