.pattern-list {
  display: flex;
  justify-content: space-around;
  align-items: start;
  border: 1px solid green;
  border-top-color: #000;
  height: 100%;
}

.pattern {
  margin: 20px;
}

.pattern-nav {
  display: flex;
  justify-content: space-around;
  height: 28px;
}

.pattern-nav__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
  flex: 1 1 0;
  text-align: center;
  min-width: 93px;
  cursor: pointer;
}

.pattern-nav__button input {
  background-color: #000;
  border: none;
  color: green;
}

.pattern-nav__button:nth-child(2) {
  border-color: #000;
  border-top-color: green;
}

.pattern-nav__button:nth-child(1) {
  border-radius: 5px 0 5px 0;
}

.pattern-nav__button:nth-child(3) {
  border-radius: 0 5px 0 5px;
}

.game-patterns {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}
