.constructor {
  color: rgb(197, 37, 197);
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  display: none;
}

#constructor__canvas {
  border: 1px solid rgb(197, 37, 197);
  min-width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-wrapper {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
}

.constructor__cell {
  width: 12px;
  height: 12px;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

.constructor__cell:hover {
  border: 1px solid palevioletred;
}

.constructor__cell--alive {
  background-color: rgb(197, 37, 197);
}

#constructor__inputs {
  display: flex;
  flex-direction: column;
  width: 100px;
}

#constructor__inputs input {
  width: 50px;
}

#constructor__json-text {
  border: 1px solid rgb(197, 37, 197);
  padding: 10px;
  width: 60%;
}

#append {
  margin-top: 8px;
  text-transform: uppercase;
}