.game-controls {
  display: flex;
}

.game-button {
  width: 50px;
  font-size: 18px;
  color: darken($color-primary, 10%);
  background-color: #000;
  border: 1px solid darken($color-primary, 10%);
  cursor: pointer;
  margin: 0 3px;
  &:hover {
    color: $color-primary;
  }
  
  &:focus {
    outline-color: darken($color-primary, 15%);
  }
}

.range-label {
  display: flex;
  align-items: center;
  color: darken($color-primary, 10%);
  font-size: 15px;
  margin-left: 4px;
  width: 70px;
}

#range-value {
  margin-right: 4px;
}