$dropdown-width: 150px;

.dropdown {
  position: relative;
  color: darken($color-primary, 10%);
  font-size: 18px;
  user-select: none;
  &:hover .dropdown__list {
    display: block;
  }
}

.dropdown__btn {
  color: #000;
  background-color: darken($color-primary, 10%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid darken($color-primary, 10%);
  width: $dropdown-width;
  padding-left: 10px;
  padding-top: 2px;
  cursor: pointer;
  i {
    margin-right: 10px;
  }
}

.dropdown__list {
  display: none;
  position: absolute;
  top: 100%;
  background: #000;
  width: $dropdown-width;
  // border: 2px solid darken($color-primary, 10%);
  border-top: none;
  border-bottom: none;
  &.active {
    display: block;
  }
}

.dropdown__preview {
  padding: 10px 20px;
  position: absolute;
  left: 105%;
  top: 0;
  min-height: 100%;
  background-color: #000;
  border: 1px solid darken($color-primary, 10%);
  display: none;
}

.dropdown__item {
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
  // border-bottom: 1px solid hsl(0, 0%, 20%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:first-child {
    // border-top: 1px solid darken($color-primary, 20%);
  }              
  &:nth-last-child(2) {
    // border-bottom: 1px solid darken($color-primary, 20%);
  }
  &:hover {
    background-color: darken($color-primary, 10%);
    color: #000;
  }
  i {
    opacity: 0;
    transition: opacity .4s linear,
                transform .4s linear;
  }
  &:hover i {
    opacity: 1;
    transform: translate(5px, 0px);
  }
  &:hover~.dropdown__preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}

