$dropdown-width: 150px;

.dropdown {
  position: relative;
  color: darken($color-primary, 10%);
  font-size: 18px;
  user-select: none;
  &:hover .dropdown__list {
    display: block;
  }
}

.dropdown__btn {
  color: #000;
  background-color: darken($color-primary, 10%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $dropdown-width;
  padding-left: 10px;
  padding-top: 2px;
  cursor: pointer;
  i {
    margin-right: 10px;
  }
}

.dropdown__list {
  display: none;
  position: absolute;
  top: 100%;
  background: #000;
  width: $dropdown-width;
  border-top: none;
  border-bottom: none;
  &.active {
    display: block;
  }
}

.dropdown__preview {
  padding: 10px 20px;
  position: absolute;
  left: 105%;
  top: 0;
  min-height: 100%;
  background-color: #000;
  border: 1px solid darken($color-primary, 10%);
  display: none;
}

.dropdown__item {
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background-color: darken($color-primary, 10%);
    color: #000;
  }
  i {
    padding: 8px 0px 8px 7px;
    opacity: 0;
    transition: transform .1s linear;
    &:hover {
      transform: translateY(3px);
    }                
  }
  &:hover i {
    opacity: 1;
  }
  &:hover~.dropdown__preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}

