.game-wrapper {
  min-width: 900px;
}

#game-board {
  margin: 0 auto;
  background-color: #000;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cell {
  width: 12px;
  height: 12px;
  color: $color-primary;
  font-weight: bolder;
  font-size: 11px;
  background-color: #000;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  overflow: hidden;
  cursor: default;
  user-select: none;
}

.cell.highlight {
  border: .1px solid hsl(120, 93%, 79%);
}

.cell.pattern-hover {
  opacity: 0.5;
}

.cell.pattern-hover-alive {
  opacity: 0.80;
}



