.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  max-height: 170px;
  min-height: 80px;
  color: $color-primary;
  font-family: sans-serif;
  &__text {
    position: relative;
    font-size: 40px;
    text-transform: uppercase;
    white-space: nowrap;
  }
  &__note {
    font-size: 16px;
    position: absolute;
    top: -14px;
    left: -70px;
    text-transform: lowercase;
  }
}

