.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 20px;
  background-color: #000;
  position: relative;
}